.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2em;
}

.header .logo {
  width: 50px;
}

.header .title-group a {
  display: flex;
  align-items: center;
}

.header .title-group a i {
  padding-right: 1.5rem;
}